h1 {
    color: blue;
    background-color: red;
}

h2 {
    text-align: center;
    color: blue;
}

h4 {
    text-align: right;
    color: blue;
}

h3 {
    color: purple;
}

p {
    color: red;
}

#staff {
    background-color: green;
}