.jumbotron {
<<<<<<< HEAD
  text-align: center;
  color: #f12029;
  border: 6px solid currentColor;
  border-radius: 0px 15px 0px 15px;
  background: url(assets/main-bg-tsn4_.jpg);
  box-shadow:20px 20px 50px black;
  margin: 0em;
  min-height: 180px;
  max-height: 180px;
  padding: 5px;
  font-weight: bolder;
}

#navigation {
  text-align: center;
  overflow: hidden;
=======
    text-align: center;
    color: #f12029;
    border: 4px solid red;
    border-radius: 25px;
    border-color: #f12029;
    background-color: #f1f1f1;
    box-shadow:20px 20px 50px black;
>>>>>>> e6f93d17b4b7e53a0c3f1b42749313275a268fdd
}

body {
  background: url(assets/river.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 25px;
  border-style: solid 6px currentColor;
  margin-bottom: 0px;
}

#heading {
  font-size: 18px;
}

#subheader {
  font-size: 18px;
}

h5 {
  color: black;
}

#pills-home, #pills-team, #pills-benefits, #pills-needs, #pills-Studio {
  background: url(https://datsan.openbroadcaster.pro/download.php?media_id=3247);
  color: white;

  z-index: 1;
  border-radius: 5px;
  border: 6px solid currentColor;
  box-shadow:20px 20px 50px black;
  width: 500px;
}

<<<<<<< HEAD
#pills-benefits, #pills-needs {
  padding-bottom: 150px;
}

#pills-team, #pills-Studio {
  padding-bottom: 100px;
}

.card-body {
  color: black;
}

.card {
  margin: 0 auto;
  float: none;
  width: 20rem;
}

.top-container {
  padding: 0px;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.header {
  padding: 0px;
  z-index: 10;
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background: url(https://datsan.openbroadcaster.pro/download.php?media_id=3248);
  width: 100%;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 85px;
  box-shadow: 0 -15px 5px -15px #333;
  z-index: 10;
  padding: 10px;
  border-top: 6px solid red;

}

#pills-home {
  text-align: center;
  font-weight: 400;
}

img {
  border-radius: 15px;
  box-shadow:20px 20px 50px black;
  background-color: rgba(189, 70, 70, 0.671);
}

#copyright {
  font-size: 6px;
  float: left; 
  font-size: 14px;
}

.button {
  background: url(https://datsan.openbroadcaster.pro/download.php?media_id=3247);
  color: #f1f1f1;
  box-shadow:20px 20px 50px black;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100px;
}



.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 80px;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (max-width: 850px) {

  .button {
    width: auto;
  }

  .content {
    padding-left: none;
    padding-right: none;
  }

  #pills-home, #pills-team, #pills-benefits, #pills-needs, #pills-Studio {
    width: 100%;
  }
}

=======
button {
    background-color: red;
    color: #f1f1f1;
    border: 10px double white;
    border-radius: 25px;
    width: 175px;
    font-size: x-large;
    padding: 25px;
    margin: 10px;
    box-shadow:20px 20px 50px black;
}

#pills-home, #pills-team, #pills-benefits, #pills-needs, #pills-Studio {
    background-color: #330000;
    color: white;
    text-align: left;
    min-height: 2000px;
}

.card-body {
    color: black;
}

.card {
    margin: 0 auto;
    float: none;
    width: 30rem;
}

.footer {
    text-align: center;
    padding: 50px;
}
>>>>>>> e6f93d17b4b7e53a0c3f1b42749313275a268fdd
