[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment racine_cropped.jpg [Image] 62 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=2d0cdd2c97&attid=0.1&permmsgid=msg-f:1671774203642000154&th=173355c7e0be331a&view=att&disp=safe
Icon=text-html
Name[en_CA]=Racine_cropped.jpg
